## Transformar de forma correta os tipos das variáveis do df
### Processamento de dados é um método cíclico

In [28]:
# importar a biblioteca responsável pela tranformação dos dados
import pandas as pd

In [29]:
# Lendo o arquivo em formato csv
# Os dados foram criados pelo chatGPT, e são fictícios e representam um conjunto de informações 
# sobre funcionários de uma empresa

df_employees = pd.read_csv(r"C:\Users\ruben\OneDrive\01. estudo\02_ciencia_de_dados\leituras\pre_processamento\base\data_01_employees.csv")

In [30]:
# Visualizando as 5 primeiras linhas

df_employees.head()

   ID      Name  Age    JoinDate     Salary Department
0   1  Person_1   29  2022-06-01  101261.35  Marketing
1   2  Person_2   43  2020-08-23   90128.90    Finance
2   3  Person_3   28  2021-06-10   56290.12  Marketing
3   4  Person_4   59  2022-03-09   35134.81    Finance
4   5  Person_5   61  2021-01-30   55107.54      Sales

In [31]:
# Visualizando um quadro geral das colunas e os seus tipos

df_employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          50 non-null     int64
 1   Name        50 non-null     object
 2   Age         50 non-null     int64
 3   JoinDate    50 non-null     object
 4   Salary      50 non-null     float64
 5   Department  50 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 2.5+ KB

In [46]:
for column in df_employees.columns:
    if df_employees[column].dtypes == "object":
        if column == "JoinDate":
            df_employees[column] = pd.to_datetime(df_employees[column])

In [50]:
df_employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          50 non-null     int64
 1   Name        50 non-null     object
 2   Age         50 non-null     int64
 3   JoinDate    50 non-null     datetime64[ns]
 4   Salary      50 non-null     float64
 5   Department  50 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 2.5+ KB

### Fim do estudo

## Análise gráfica do df -> Identificar alguma inconsistência dos dados

### Fim do Estudo

In [35]:
# Transformacao de variáveis categoricas
# Label Enconding -> "É uma técnica recomendada que substitui uma categoria por um valor inteiro" -> Ordenamento natual
# ou poucas classes
# One Hot Enconding -> " É uma transformação de categorias em novas features binárias" -> Poucas categorias

In [36]:
# Lidar com valores ausentes
# Eliminação das colunas ou linhas
# Imputação de valores -> Média, Mediana, Moda

In [37]:
# Lidar com outliers
# Box-plot
# Retirar do df
# Analisar os casos extremos

In [38]:
# Normalização -> reescalar, padronização, robust scaler

In [39]:
# Redução de dimensionalidade

In [40]:
# Redução de Dimensionalidade
# Reduzir o tempo de processamento e o overfitting
# Redução do número de colunas (variáveis)

# Principal Compenent Analysis (PCA) (método lienar)
# Linear Discriminant Analysis (LDA) (método linear)
# Isomap (método não-linear)